.menu__btn {
  display: none;
}

.header {
  position: relative;
}

.menu-mobile__list {
  position: absolute;
  width: 243px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.15);
  transform: translateX(-100%);
  transition: all 0.3s;
  padding-bottom: 20px;
  z-index: 5;
  background-color: white;
}

.menu-mobile__list--active {
  transform: translateX(0%);
}

.menu-mobile__item {
  position: relative;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}

.menu-mobile__link {
  display: block;
  padding-left: 53px;
  padding-top: 22px;
}

.menu-mobile__img {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1200px) {
  .banner-section__inner {
    flex-direction: column;
    align-items: center;
  }

  .banner-section__slider {
    max-width: 770px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .menu__item + .menu__item {
    padding-left: 20px;
  }

  .header__adress {
    margin-right: 20px;
  }

  .menu-categories {
    font-size: 20px;
  }
}

@media (min-width: 968px) {
  .header__bottom {
    display: block;
  }

  .menu__list {
    display: block;
  }

  .menu-mobile__list {
    display: none;
  }
}

@media (max-width: 968px) {
  .header__bottom {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .menu__btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
  }

  .menu__btn-line {
    background: #2f3035;
    border-radius: 3px;
    height: 3px;
    width: 34px;
    margin: 8px 0;
  }

  .banner-section__slider {
    display: none;
  }
}

@media (max-width: 640px) {
  .header__box {
    display: none;
  }
}
