html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: #2f3035;
  font-family: 'SFPro-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-family: 'SFPro-Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  padding-left: 50px;
}

.header__box {
  display: flex;
}

.header__adress {
  padding-left: 30px;
  margin-left: 10px;
  position: relative;
  margin-right: 60px;
}

.header__adress::before {
  content: '';
  position: absolute;
  background-image: url('../images/location.svg');
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
}

.user-list {
  margin-right: 10px;
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.use-list__item {
  padding-right: 15px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  font-weight: 500;
  color: white;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  text-align: center;
  bottom: -15px;
  right: -15px;
}

.header__bottom {
  background-color: #f0f0f4;
}

.menu-categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 54px;
}

.menu-categories__item {
  position: relative;
}

.menu-categories__link {
  transition: all 0.3s;
  padding: 15px 0 14px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
}

.menu-categories__link:before {
  content: '';
  position: absolute;
  width: 0;
  background-color: #1c62cd;
  height: 3px;
  bottom: 10px;
  transition: all 0.5s;
}

.menu-categories__link:hover {
  color: #000;
}

.menu-categories__link:hover::before {
  width: 100%;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}
